@import 'gridlover-config';
@import 'gridlover-rhythm';

article {

    .article-header {
    }

    .article-body {
        max-width: $wrap-width;
        margin: 0 auto;
    }

    hr {
        border: 0;
        border-bottom: 1px solid #000;
        @include rhythm(0, 1, 1);
    }

    time, .readtime {
        display: inline-block;
        @include rhythm(1, 0, 1);
    }

    p {
        // font-size: 15px;
        // line-height: 1.9em;
        @include rhythm(0, 0, 1);
        word-wrap: break-word;
    }
    ul {
        list-style: none;
        li {
            // margin: 0;
            padding-left: 25px;
            @include rhythm(0, 0, 0);
            // background-repeat: no-repeat;
        }
    }
    img[src*=".giphy.com/"], img[data-original*=".giphy.com/"].loading {
        // width: calc(100% + 38px);
        // max-width: 200%;
        //
        // margin:0 -19px;
        width: 100%;
        min-height:200px;
        max-height: $wrap-width;
    }
    img.loading {
        height:50px;
        width:50px;
        background:#ececec;
    }
    img.loading.emoji {
        height:20px;
        width:20px;
        // border-radius:20px;
        background:transparent;
    }
}
.action {
    // margin:0;
    max-width: $wrap-width;
    margin: 40px auto;
    @include rhythm(0, 1, 1);
    text-align: center;

    &-block {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        // padding: 4px 40px;
        // font-size: 18px;
        // background: #fff;
        // width:50%;
        width:150px;
        // min-width: 90px;

        // @media (min-width: 992px) {
        //     display:inline-block;
        // }
        &--fullwidth {
            width: 100%;
        }
    }
    &-link {
        display: inline-block;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        @include rhythm(0, 0, 1);
    }
    .emoji {
        // break bam because gemoji
        margin: 0 auto;
        @include rhythm(1, 0.5, 0.5);
        display: block;
        // width: 30px!important;
        // height: 30px!important;
    }
}
