article {
    max-width: 500px;
    margin: 0 auto;
    hr {
        border: 0;
        border-bottom: 1px solid #000;
        margin: 30px 0;
    }
    p,
    li {
        font-size: 15px;
        line-height: 1.9em;
        word-wrap: break-word;
    }
    ul {
        list-style: none;
        li {
            margin: 0;
            padding: 0 0 0 25px;
            background-repeat: no-repeat;
        }
    }
    img[src*=".giphy.com/"], img[data-original*=".giphy.com/"].loading {
        width: calc(100% + 38px);
        max-width: 200%;

        margin:0 -19px;
        min-height:200px;
        max-height: 500px;
    }
    img.loading {
        height:50px;
        width:50px;
        background:#ececec;
    }
    img.loading.emoji {
        height:20px;
        width:20px;
        border-radius:20px;
    }
}
.action {
    // margin:0;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;

    &-block {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        // padding: 4px 40px;
        // font-size: 18px;
        background: #fff;
        // width:50%;
        width:150px;
        // min-width: 90px;
        padding: 0 0 15px;
        // @media (min-width: 992px) {
        //     display:inline-block;
        // }
        &--fullwidth {
            width: 100%;
        }
    }
    &-link {
        display: inline-block;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        border-color:lightgreen;
    }
    .emoji {
        // break bam because gemoji
        margin: 15px auto;
        display: block;
        // width: 30px!important;
        // height: 30px!important;
    }
}
