@keyframes logoBackgroundScroll {
    from {
        background-position: center 0;
        // background-size: 40%;
    }
    to {
        background-position: center -225px;
        // background-size: 40%;
    }
}

.logo {
    animation: logoBackgroundScroll 15s linear infinite;
}
