.progressBar {
    position: fixed;
    top: 1px;
    left: 0;
    height: 1px;
    background: blue;
    width: 0;

    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;

    top:-2px;
    &--loading {
        top:0;
    }
}
