@import 'gridlover-config';
@import 'gridlover-rhythm';

.twitter-tweet {
    margin:0 auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    max-width: 520px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 232, 237);
    border-radius: 4px;
    display: block;
    color: rgb(28, 32, 34);
    background: 0 0;
    font: 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    padding:0 1.25rem 1.25rem;

    @include rhythm(0,1,1);
    margin:($body-font-size * $body-line-height) auto!important;
}
