---
layout: default
---
<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>

<ul class="action">
    <li class="action-block">
        <a class="action-link" href="{{site.baseurl}}/">
            <img class="emoji" title=":open_hands:" alt=":open_hands:" src="/assets/build/emoji/unicode/1f450.png" height="20" width="20" align="absmiddle">
            Back
        </a>
    </li>

    <li class="action-block">
        <a class="action-link" href="{{site.mailchimp.subscribe}}">
            <img class="emoji" src="/assets/build/emoji/unicode/1f425.png" height="20" width="20" align="absmiddle">
    		Subscribe
        </a>
	</li>
</ul>
