---
layout: default
---

<article itemscope="" itemtype="http://schema.org/BlogPosting">

    <div class="center">
        <h1 itemprop="name">{{ page.title }}</h1>
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %-d, %Y' }}</time>
        <span class="readtime">
			{% capture read_time %}
			  {{ page.content | number_of_words | divided_by: 180 }}
			{% endcapture %}

			~{% if read_time != '0' %}
			  {{ read_time }}
			{% else %}
			  1
			{% endif %} min read
		</span>
    </div>

    <div class="divider"></div>

    <div itemprop="articleBody">
        {{ content }}
    </div>

</article>

<ul class="action">

    {% if page.tweet %}
    <li class="action-block">
        <a class="action-link" href="https://twitter.com/{{ site.author.twitter }}/status/{{ page.tweet }}">
            <img class="emoji" src="/assets/build/emoji/unicode/1f4ac.png" height="20" width="20" align="absmiddle"> Comment
        </a>
    </li>
    {% endif %}

    <li class="action-block">
        <a class="action-link" href="{{site.mailchimp.subscribe}}">
            <img class="emoji" src="/assets/build/emoji/unicode/1f425.png" height="20" width="20" align="absmiddle"> Subscribe
        </a>
    </li>


    <li class="action-block">
        <a class="action-link" href="{{site.baseurl}}/">
            <img class="emoji" title=":open_hands:" alt=":open_hands:" src="/assets/build/emoji/unicode/1f450.png" height="20" width="20" align="absmiddle"> More
        </a>
    </li>

    <li class="action-block action-block--fullwidth">
        <a class="action-link" href="{{ site.related_posts[0].url }}">
            <img class="emoji" title=":open_hands:" alt=":open_hands:" src="/assets/build/emoji/unicode/1f648.png" height="20" width="20" align="absmiddle"> {{ site.related_posts[0].title }}
        </a>
    </li>
</ul>
